<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="SMIS">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SIMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated && User.IsInRole("RegistrarStaff"))
                {
                    <ul class="nav navbar-nav">
                        <li><a href="/Student/Create">Register Student</a></li>
                    </ul>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("DaytimeRegularCoordinator"))
                {
                    <ul class="nav navbar-nav">
                        <li><a href="#">Section Placement</a></li>
                        <li><a href="/Clearance/Index">Clearance Request</a></li>
                    </ul>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("Student"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Dashboard", "Index", "Student")</li>
                        <li class="dropdown">
                            <a href="/Registeration" class="dropdown-toggle" data-toggle="dropdown">
                                Registeration <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Registeration">Course registeration</a></li>
                                <li><a href="#">Cost sharing form</a></li>
                                <li><a href="#">Add / drop course</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Curriculum</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Dormitory placement</a></li>
                                <li><a href="#">Section placement</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Grade and Results", "Index", "Result")</li>
                        <li class="dropdown">
                            <a href="/Registeration" class="dropdown-toggle" data-toggle="dropdown">
                                Online Requests <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Clearance", "Create", "Clearance")</li>
                            </ul>
                        </li>                        
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/App/app.js"></script>
</body>
</html>

