@using SIMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}
<br /><br />
<div class="row" style="">
    <div class="col-sm-6">
        <h1 style="font-size: 60px">Holy Trinity Thelogical College</h1><h3>Student Information Management System</h3> 
       
    </div>

    <div class="col-sm-4 col-sm-offset-1">
        <section id="loginForm">
            <h3>Login</h3>
            <hr />
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(m => m.RememberMe) Remember Me</label>


                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-success" />
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <ul class="list-unstyled list-inline">
            <li><a href="/Curriculum">Curriculum</a></li>
        </ul>
    </div>
</div>

<script>
    $('body').css('background','#234')
</script>